{% extends 'base.html' %}

{% block title %}
    <title>Добавить запись</title>
{% endblock %}

{% block content %}

    <div class="row center-block">
        <div class="col-xs-offset-4">
            <h2>Добавить запись</h2>
        </div>
    </div>

    <form action="/add" method="post">
        {% csrf_token %}

        {% for field in form %}
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="text-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group">
            {{ field.label }}: {{ field }}
        </div>
        {% endfor %}  
        <input class="btn btn-default" type="submit" value="Отправить" />
    </form>
{% endblock %}
