{% extends 'base.html' %}

{% block content %}
<div class="row center-block">
    <div class="col-xs-offset-4">
        <h2>Гостевая книга</h2>
    </div>
</div>
<div class="row center-block">
    {% include 'book/sort_links.html' %}
</div>
<div class="row">
<ul class="list-group">
    {% for note in object_list %}
        <li class="note list-group-item clearfix">
                {{ note.date }} <br />
                {{ note.username }} написал:
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ note.text|linebreaks }}
                </div>
            </div>
            <div class="pull-right">
                <a href="mailto:{{ note.email }}">{{ note.email }}</a> <br />
                <a href="{{ note.homepage }}">{{ note.homepage }}</a>
            </div>
            <div class="pull-left">
                Нравится: {{ note.likes }} <a href="/like/{{ note.id }}">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
        </li>
    {% endfor %}
</div>
</ul>
<div class="row">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ object_list.previous_page_number }}">Пред.</a>
            {% endif %}

            <span class="current">
                ( Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} )
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">След.</a>
            {% endif %}

        </span>
    </div>
</div>
<div class="row">
    <a href="/add">Добавить запись</a>
</div>
{% endblock %}
