<p class="col-xs-offset-2">
{% for sort_link in sort_link_list %}
	<span class="sort-link {{ sort_link.attrs }}">
		<a class="btn btn-primary btn-small" href="{{ sort_link.path }}">
				<span class="{{ sort_link.indicator }}">
						{{ sort_link.title }}
						{% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
						{% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
				</span>
		</a>
	</span>
{% endfor %}
</p>
